


.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;

}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

@media(max-width:320px){
    .hero h1{
        font-size: 40px;
    }
}
.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}
.features-section {
    width: 80%;
margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.features-section h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 40px;
}
.feature {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.feature:last-child {
    margin-bottom: 0;
}
.feature-icon {
    font-size: 40px;
    color: #007BFF;
    margin-right: 20px;
}
.feature-text {
    flex: 1;
}
.feature-text h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}
.feature-text p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .feature {
        flex-direction: column;
        text-align: center;
    }
    .feature-icon {
        margin-bottom: 10px;
    }
   
}