* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: capitalize;
}

body {
    font-family: "Poppins", sans-serif;
    color: #292962;
    height: 100vh;
    /* background: linear-gradient(#e8fdfa, #e9ecef); */
    transition: all 3s ease-in-out;
}

header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


nav a {
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #292962;
    transition: all 2s ease-in-out;
}

/* .body {
    background-color: white;
    background-size: contain;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;


}

h1 {
    font-size: 25px;
    margin-left: 90px;
    white-space: nowrap;
}

h1 span {
    white-space: nowrap;
}

.input-top {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    gap: 10px;
}

.top-sub,
.control,
.sample {
    display: flex;

}

.top-sub {
    margin-left: -7px;

}

.para {
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 90px;
    margin-right: -15px;
    border: none;
    cursor: pointer;

}

.bullet {
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.control span {
    margin-top: 10px;
}

.paste textarea {
    width: 400px;
    height: 250px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.sum-button button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

@media (min-width:768px) {


    h1 {
        text-align: center;
    }

    h1 span {
        color: #292962;
        white-space: nowrap;
        margin-left: 0;
    }

    .input-top {
        display: flex;
        gap: 5%;
    }

    .sample button {
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
    }

    .sample button:hover {
        border: 1px solid blue;
    }

    .paste textarea {
        width: 250px;
        height: 200px;
        border: none;
        border-bottom: 1px solid lightgray;

    }

    #area1 {
        border-right: 1px solid lightgray;
    }

    .right-bottom {
        display: flex;
        gap: 55%;
    }

    .right-bottom button {
        border: none;
        cursor: pointer;
    }

}

@media (min-width:1024px) {


    h1 {
        text-align: center;
    }

    h1 span {
        white-space: nowrap;
        margin-left: 0;
    }

    .input-top {
        display: flex;
        gap: 10%;
    }

    .sample button {
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
    }

    .sample button:hover {
        border: 1px solid blue;
    }

    .paste textarea {
        width: 300px;
        height: 250px;
        border: none;
        border-bottom: 1px solid lightgray;

    }

    #area1 {
        border-right: 1px solid lightgray;
    }

}

@media (min-width:1440px) {


    h1 {
        text-align: center;
    }

    h1 span {
        white-space: nowrap;
        margin-left: 0;
    }

    .input-top {
        display: flex;
        gap: 24%;
    }

    .sample button {
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
    }

    .sample button:hover {
        border: 1px solid blue;
    }

    .paste textarea {
        width: 450px;
        height: 350px;
        border: none;
        border-bottom: 1px solid lightgray;

    }

    #area1 {
        border-right: 1px solid lightgray;
    }

    #area1,
    #area2 {
        border-collapse: collapse;
    }

} */

/*Hero styling*/
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #121212;
    padding-top: 40px;
}

h1 span {
    color: #0866ff;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero p {
    text-align: center;
    color: #808080;
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 20px;
}

.executable {
    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.executable:hover {
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
    cursor: pointer;
}

/*SubHero Styling*/
#subhero {
    display: flex;
    justify-content: center;
    margin-block: 50px;
}

.hero-container {
    margin-inline: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first-layer {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 10px;
    background-color: #4a82da;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.output {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 20px;
}
.output p{
    font-size: 14px;
    font-weight: bold;
}
.bullet {
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    /* border: 2px solid white; */
    padding: 8px 15px;
    
}

.summary-strength {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.summary-strength p {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.Strength {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}

.second-layer {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.paste-field {
    width: 50%;
    position: relative;
}

.summary-field {
    width: 50%;
    border-left: 1px solid #808080;
    border-top-left-radius: 10px;
    border-bottom-left-radius: none;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px;
    resize: none;
}

textarea::placeholder {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #A3A0A0;

}

.position-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #868687;
    background-color: #F8F8F8;
    border-radius: 10px;
    width: 250px;
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
}

.position-div:hover {
    cursor: pointer;
    background-color: #a19e9e2a;
}

.position-div p {
    font-size: 15px;
}

#file-input {
    font-size: 13px;
    width: 85px;
}

.third-layer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    color: #868687;
    font-size: 18px;
}

.words {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.word-button {
    margin-right: 30px;
    background-color: #0866FF;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.word-button:hover {
    color: #0866FF;
    border: 2px solid #0866FF;
    background-color: white;
    cursor: pointer;
}

.icons {
    height: 20px;
    width: 20px;
}

.icons:hover {
    background-color: #0867ff80;
    cursor: pointer;
}

.icon-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* ============ Media-query ======== */
@media (max-width:320px) {
    .first-layer {
        height: 60px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: #4a82da;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .output {
        margin-left: -30%;
    }

    button {
        width: 120px;
    }
}