/* General Styles */



/* Team Section Styles */
.team {
  padding: 20px;
  text-align: center;
}

.header-team {
  font-size: 2em;
  font-weight: bold;
}

.team .header p {
  margin: 0.5em 0;
}

.go-back {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
}

.go-back .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  
}

.our-team {
  font-size: 1.5em;
  margin: 20px 0;
}

.team-main {
  width: 100%;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.team-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-card img {
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding: 10px;
}

.team-name {
  font-weight: bold;
  color: #34495e;
}

.team-role {
  color: #7f8c8d;
}

/* Mobile Responsive Styles */
@media (max-width: 600px) {
  .header-team {
    font-size: 1.5em;
  }

  .our-team {
    font-size: 1.2em;
  }

  .team-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .team-card {
    padding: 10px;
  }
}

/* Tablet Styles */
@media (min-width: 600px) and (max-width: 1024px) {
  .header-team {
    font-size: 1.75em;
  }

  .our-team {
    font-size: 1.4em;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .header-team {
    font-size: 2em;
  }

  .our-team {
    font-size: 1.5em;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
