/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-transform: capitalize;
}

body {
    font-family: "Poppins", sans-serif;
    color: #292962;
    min-height: 100vh;
    background: linear-gradient(#e8fdfa, #e8fdfa);
    transition: all 3s ease-in-out;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 1.5;
}

main {
    flex: 1 0 0;
}

/*header styling*/
header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e8fdfa;
    padding: 0px 120px;
}

nav {
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

nav a:hover {
    color: #0866FF;
}

.sign-in {

    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.sign-in:hover {
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 40px;
}

.hero-content {
    flex: 1;
    padding: 20px;
}

.hero h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
}

.hero h4 {
    font-size: 2rem;
    color: #0866FF;
}

.hero p {
    font-size: 1.4em;
    margin: 20px 0;
    line-height: 2.5rem;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0866FF;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s;
}

.button:hover {
    transition: all 0.3s;
    background-color: #292962;
    transition: all 2s ease-in-out;
}

@media(min-width: 992px) {
    .hero {
        flex-direction: unset;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
    color: #292962;
}

.nav {
    display: flex;
    gap: 100px;
}

.nav a {
    color: #292962;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
}

.nav a:hover {
    color: #292962;
    transition: all 0.3s;
}

header .login-btn {
    padding: 10px 20px;
    background-color: #3f3eed;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

header .login-btn:hover {
    background-color: #0056b3;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #ffffff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;

}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

@media(max-width:320px) {
    .hero h1 {
        font-size: 36px;
    }

    .hero h4 {
        font-size: 1rem;
    }
}

@media(max-width:561px) {
    .hero h4 {
        font-size: 1rem;

    }
}

/*footer styling*/
footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    gap: 50px;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

.logo-container {
    /* margin-top: -40px; */
    width: 350px;
    font-size: 12px;
    line-height: 16px;
}

.logo-container img {
    margin-bottom: 14px;
}

.logo-container p {
    line-height: 22px;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    padding-top: 10px;
}

.quicklink-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quicklink-container a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.quicklink-container a:hover {
    color: #0866FF;
}

.contactus-container div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contactus-container h4 {
    margin-bottom: 10px;
}

.contactus-container img {
    height: 30px;
    width: 30px;
}

.copyright {
    font-size: 12px;
}


@media (max-width: 774px) {
    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature-icon {
        margin-bottom: 10px;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        flex-direction: column;
        gap: 10px;
    }
}


.contact-form-container {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.contact-form h1,
.contact-form p {
    text-align: center;
    margin-bottom: 20px;
}



.contact-form label {
    display: block;

}

.contact-form input,
.contact-form textarea {
    width: 95%;
    outline: none;
    background: #f9f9f9;
    padding: 20px;
    display: block;
    margin: 10px;
    height: 50px;
    border: 1px solid #2074c7;
    border-radius: 5px;
    color: #292962;
    font-size: 23px;
}

.contact-form textarea {
    padding: 10px;
}


.contact-form button {
    width: 30%;
    height: 60px;
    padding: 10px;
    background-color: #2A37D6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}

.contact-form button:hover {
    color: #2A37D6;
    transform: scale(.8);
    transition: all 2s ease-in-out;
    background: #FFF;
    border: 1px solid;
}

/* ===================== Features Section =========================== */
.features-section {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features-section h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 40px;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.feature:last-child {
    margin-bottom: 0;
}

.feature-icon {
    font-size: 40px;
    color: #007BFF;
    margin-right: 20px;
}

.feature-text {
    flex: 1;
}

.feature-text h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.feature-text p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .feature {
        flex-direction: column;
        text-align: center;
    }

    .feature-icon {
        margin-bottom: 10px;
    }

}

/* ================ About Section =============== */
.about-section {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 15px;
}

.about-flex {
    display: flex;
    gap: 3rem;
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media(min-width: 320px) {
    .about-flex {
        /* flex-direction: column; */
    }

    .About-text {
        font-size: 14px;
        text-align: right;
    }

    .About-text1 {
        font-size: 14px;
        text-align: right;
        line-height: 2rem;
    }
}

.About-text {
    text-align: justify;
    line-height: 2rem;
}

.About-text1 {
    text-align: justify;
    line-height: 2.5rem;
}

.About-text1 ul li {
    margin: 10px auto 10px 35px;
}

/* ================ FAQs ============== */
.faq-section {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 15px;
}

.faq-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.faq-card {
    background-color: #f9f9f9;
    padding: 20px;
    width: 80%;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-card p {
    text-align: center;
}

.faq-card h3 {
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    /* white-space: nowrap; */
    text-align: center;
}

/* ============= Team Section ============= */
.team {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.our-team {
    text-align: center;
    color: #007BFF;
    margin-bottom: 15px;
}

.team-main {
    width: 100%;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.team-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.team-card:hover {
    transform: translateY(-10px);
}

.team-card img {
    width: 100%;
    height: auto;
    display: block;
}

.team-info {
    padding: 10px;
}

.team-name {
    font-weight: bold;
    color: #34495e;
}

.team-role {
    color: #292962;
}

/* Mobile Responsive Styles */
@media (max-width: 600px) {
    .header-team {
        font-size: 1.5em;
    }

    .our-team {
        font-size: 1.2em;
    }

    .team-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .team-card {
        padding: 10px;
    }
}

/* Tablet Styles */
@media (min-width: 600px) and (max-width: 1024px) {
    .header-team {
        font-size: 1.75em;
    }

    .our-team {
        font-size: 1.4em;
    }

    .team-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .header-team {
        font-size: 2em;
    }

    .our-team {
        font-size: 1.5em;
    }

    .team-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
}

/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){
  .position-div{
    top: 30%;
    left: 20%;
    right: 20%;
  }
}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header{
    padding: 0px 80px;
  }
  h1 {
    font-size: 30px;
    padding-top: 40px;
  }
  #hero p {
    font-size: 15px;
  }
  .hero-container{
    margin-inline: 80px;
  }
  .first-layer{
    height: 50px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: px;
    padding-left: 10px;
  }
  .word-features{
    width: 150px;
  }
  .summary-strength{
    width: 50%;
    gap: px;
  }
  .output p, .summary-strength p{
    font-size: 13px;
  }
  .Strength{
    width: 150px;
  }
  .word-features p, .Strength p{
    font-size: 11px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 13px;
  }
  .position-div{
    padding: 10px;
    gap: 10px;
    width: 200px;
    top: 30%;
    left: 25%;
    right: 25%;
  }
  .position-div p{
    font-size: 13px;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 13px;
  }
  .words button{
    margin-right: 20px;
    padding: 6px 15px;
    font-size: 13px;
  }
  .icons{
    height: 25px;
    width: 25px;
  }
  .icon-container{
    width: 300px;
  }
  .footer-container{
    padding: 0px 80px;
  }
  .logo-container{
    margin-top: -40px;
    width: 300px;
    font-size: 11px;
  }
  .quicklink-container a{
    font-size: 11px;
  }
  .contactus-container img{
    height: 20px;
    width: 20px;
  }
  .copyright{
    font-size: 11px;
  }
  .executable{
    font-size: 13px;
    padding: 8px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
  #hero{
    padding: 0px 50px;
  }
  h1 {
    font-size: 25px;
    padding-top: 30px;
  }
  #hero p {
    font-size: 13px;
  }
  .hero-container{
    margin-inline: 50px;
  }
  .first-layer{
    height: 45px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: 5px;
    padding-left: 10px;
  }
  .word-features{
    width: 150px;
  }
  .summary-strength{
    width: 50%;
    gap: 5px;
  }
  .output p, .summary-strength p{
    font-size: 11px;
  }
  .Strength{
    width: 120px;
  }
  .word-features p, .Strength p{
    font-size: 9px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 11px;
  }
  .position-div{
    padding: 10px;
    gap: 10px;
    width: 150px;
    top: 30%;
    left: 25%;
    right: 25%;
  }
  .position-div p{
    font-size: 11px;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 11px;
  }
  .words button{
    margin-right: 20px;
    padding: 6px 15px;
    font-size: 11px;
  }
  .icons{
    height: 20px;
    width: 20px;
  }
  .icon-container{
    width: 250px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 50px;
  }
  .logo-container{
    margin-top: 0px;
    width: 200px;
    font-size: 10px;
  }
  .quicklink-container a{
    font-size: 10px;
  }
  .details-container h4{
    font-size: 11px;
  }
  .contactus-container img{
    height: 16px;
    width: 16px;
  }
  .copyright{
    font-size: 10px;
  }
  .executable{
    font-size: 11px;
    padding: 7px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;
  }
  #hero{
    padding: 0px 15px;
  }
  h1 {
    font-size: 20px;
    padding-top: 30px;
  }
  #hero p {
    font-size: 11px;
  }
  .hero-container{
    margin-inline: 15px;
  }
  .first-layer{
    height: 45px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: 0px;
    padding-left: 7px;
  }
  .word-features{
    width: 100px;
  }
  .summary-strength{
    width: 50%;
    gap: 0px;
  }
  .output p, .summary-strength p{
    font-size: 8px;
  }
  .Strength{
    width: 100px;
  }
  .word-features p, .Strength p{
    font-size: 7px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 8px;
  }
  .position-div{
    padding: 5px;
    gap: 5px;
    width: 120px;
    top: 30%;
    left: 15%;
    right: 15%;
  }
  .position-div p{
    font-size: 8px;
  }
  #file-input{
    font-size: 7px;
    width: 55px;
    margin: 0 auto;
    align-self: center;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 8px;
  }
  .words button{
    margin-right: 10px;
    padding: 5px 8px;
    font-size: 8px;
  }
  .icons{
    height: 12px;
    width: 12px;
  }
  .icon-container{
    width: 250px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 15px;
    justify-content: space-evenly;
  }
  .logo-container{
    margin-top: 0px;
    width: 150px;
    font-size: 8px;
  }
  .quicklink-container a{
    font-size: 8px;
  }
  .details-container h4{
    font-size: 8px;
  }
  .contactus-container img{
    height: 11px;
    width: 11px;
  }
  .contactus-container div{
    gap: 3px;
  }
  .copyright{
    font-size: 8px;
  }
  .executable{
    font-size: 10px;
    padding: 7px;
  }
}